__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media

drf_learning_path.txt
serializers.txt
viewsets.txt
гайд.txt
pagination.txt
permissions_and_auth.txt

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db
